fastapi
uvicorn
python-dotenv
pydantic
numpy
pandas
scikit-learn
joblib
requests
firebase-admin
python-multipart
passlib[bcrypt]
python-jose
SQLAlchemy
psycopg2-binary
email-validator
